.box {
    background-image: url("https://schoolscambodia.com/wp-content/uploads/2025/01/AF1QipPlBX1F9a3dLZTSDJTFOxCuoUX2QBPgbndgVOnRw408-h327-k-no.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 2px 5px #000;
}
button {
    padding: 7px;
    width: 30px;
    color: rgb(254, 254, 254);
    border: none;
    border: 1px solid #000;
    font-weight: bold;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #ff1900, #ffae00);
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 1px 1px #000000;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 0 #000000, 
    0px 0px 10px #002aff;
}
button:active {
    transform: scale(0.9);
}

input {
    margin-bottom: 5px;
    width: 140px;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease;
    border-radius: 5px;
    border: 1px solid #000;
    
}
input:hover {
    transform: scale(1.1);
}

.boxs {
    display: flex;
    justify-content: center;
}
